<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Favorite games">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Valmir de Barros Pedro">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">


    <script src="../Js/functions.js"></script>
    <title>My favorite Games</title>
</head>

<body>
      <header id="headerName">
             <a href="index.html"><img src="../img/index/logo.png" alt="skull logo" class="logo"> </a>
            <h2>
                My favorite games
            </h2>
            <nav>
                <a href="index.html">Home</a>
                <a href="Action.html">Action</a>
                <a href="Arcade.html">Arcade</a>
                <a href="FPS.html">FPS</a>
                <a href="FreeWord.html">Free Word</a>
                <a href="Race.html">Race</a>
            </nav>
        </header>
        
        
        <footer> <p>Developed by Valmir de Barros -
                <script>
                      showActualYear();
                </script>
            </p> 

        </footer>
    </div>
</body>
</html>