<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="description" content="Favorite games">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="valmir de Barros Pedro">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/home.css">

    <title>My favorite Games</title>

</head>
<div class="head">
    <img src="../img/logo.webp" alt="skull logo" width="100" height="70"> My favorite games
</div>

<div class="teste">
    <nav class="menu">
        <ul>
            <li>Home</li>
            <li>Arcade</li>
            <li>Action</li>
            <li>FPS</li>
            <li>Race</li>
            <li>Free World</li>
        </ul>
    </nav>
</div>

<footer>
    &copy; Developed by Valmir de Barros Pedro [scrpit em js qeu pega o ano ver na rede]
</footer>

<body>



</body>

</html>