<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="description" content="Favorite games">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Valmir de Barros Pedro">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/home.css">


    <script src="../Js/functions.js"></script>
    <title>My favorite Games</title>
</head>

<body>
      <header>
            <img src="../img/index/logo.webp" alt="skull logo" width="100" height="70" class="logo"> 
            <h2>
                My favorite games TESTE
            </h2>
        </header>
        
        <div class="content">
            <div class="category">
                <div class="category-action">
                    <p> Action</p>
                </div>

                <div class="category-arcade">
                    <p> Arcade</p>
                </div>

                <div class="category-fps">
                    <p> FPS </p>
                </div>

                <div class="category-freeWorld">
                    <p> Free World</p>
                </div>

                <div class="category-race">
                    <p> Race hahah eieie</p>
                </div>


            </div>
        
        <footer> <p>Developed by Valmir de Barros -
                <script>
                      showActualYear();
                </script>
            </p> 

        </footer>
    </div>
</body>

</html>





