*{
    margin: 0;
    padding:0;
}

html,body
{
    height: 100%;
    font-family: 'Baloo Thambi 2', cursive;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bebas Neue', cursive;
}

header {
    width: 100%;
    height: 10%;
    z-index: 1;
    box-shadow: 0px 2px 10px #fff;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #bbb;
    display: flex;
}

header h2 {
    margin: 50px 15px;
}

.logo{
    padding: 10px;
    background-size:cover ;
}

nav {
    overflow: hidden;
    position: absolute;
    right: 0;
    margin-right: 30px ;
}
nav a {
    float: left;
    color: #888;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px ;

}